.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  text-align: center; /* Дополнительное выравнивание текста */
  width: 150px;
}

.imageContainer {
  cursor: pointer;
  width: 5em;
  height: 5em;
  /* Гарантируем, что изображение не сжимается */
  flex-shrink: 0;
  user-select: none;
}

.textContainer {
  user-select: none;
  margin-top: 10px;
  /* Автоматическая ширина с ограничением */
  max-width: 100%; /* Не больше ширины контейнера */
  width: auto; /* Ширина по содержимому */
  /* Перенос длинных слов */
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* Выравнивание текста */
  text-align: center;
}
