.wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url("/src/assets/Wallpaper.png");
  background-size: cover;
  background-position: center center; */
  background-color: #f2dcc2;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
}
