@font-face {
  font-family: "Ropa Mix";
  src: url("src\assets\fonts\RopaMixPro-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.resume-container {
  display: flex;
  flex-wrap: nowrap;
}

.resume-container img {
  /* width: 300px;
  height: 300px; */
}

.resume-container h1 {
  font-family: "Ropa Mix";
}
