* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings: "wdth" 100;

  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
